@use '../abstracts/variables' as vars;

.agent-card {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 400px;

    border-radius: 20px;
    overflow: hidden;
    background-color: vars.$white;
    flex: 0 0 auto;

    box-shadow: vars.$shadow-md;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: vars.$shadow-xl;
    }

    &__image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        background-color: vars.$white;

        picture {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        min-width: 100%;
        min-height: 100%;
        transition: transform 0.5s ease;
    }

    &:hover &__image {
        transform: scale(1.05);
    }

    &__info {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        background: vars.$white;
        padding: 12px;
        border-radius: 15px;
        text-align: center;
        z-index: 2;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    &__name {
        font-size: 1rem;
        font-weight: vars.$font-weight-bold;
        color: vars.$black;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__location {
        font-size: 0.8rem;
        color: vars.$black;
        font-weight: vars.$font-weight-medium;
    }
}
