@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as m;

.faq-item {
  border-bottom: vars.$border-width solid rgba(vars.$black, 0.1); 
  
  &:last-child {
    border-bottom: none;
  }
}

.faq-question {
  @include m.flex-between;
  padding: vars.$spacing-lg vars.$spacing-base;
  cursor: pointer;
  
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }

  font-family: vars.$font-paragraph;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-medium;
  color: vars.$dark-blue;
  transition: color vars.$transition-base vars.$transition-ease;

  &:hover {
    color: vars.$turquoise;
  }

  .faq-icon {
    font-size: vars.$font-size-xl;
    font-weight: vars.$font-weight-regular; 
    margin-left: vars.$spacing-base;
    color: vars.$light-gray;
    
    &::after {
      content: '+';
    }
  }

  @include m.mobile {
    padding: vars.$spacing-base vars.$spacing-xs;
    font-size: vars.$font-size-sm;
  }
}

// Quando il tag <details> è aperto ([open]), cambiamo l'icona in '-'
.faq-item[open] .faq-question .faq-icon::after {
  content: '-';
}

.faq-answer {
  padding: 0 vars.$spacing-base vars.$spacing-lg vars.$spacing-base;
  color: vars.$light-gray;
  font-family: vars.$font-paragraph;
  font-size: vars.$font-size-sm;
  line-height: vars.$line-height-normal;
  
  p {
    margin: 0;
    max-width: 90%;
  }

  @include m.mobile {
    padding: 0 vars.$spacing-xs vars.$spacing-base vars.$spacing-xs;
    font-size: vars.$font-size-sm;

    p {
      max-width: 100%;
    }
  }
}