@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as m;

.faq-background {
  // Sfondo esterno azzurro chiaro
  background-color: vars.$light-blue;
  padding: vars.$spacing-3xl vars.$spacing-lg;
  
  @include m.flex-column;
  align-items: center;

  @include m.mobile {
    padding: vars.$spacing-xl vars.$spacing-base;
  }
}

.faq-header {
  text-align: center;
  margin-bottom: vars.$spacing-xl;

  h2 {
    @include m.heading(vars.$font-size-5xl, vars.$font-weight-bold);
    color: vars.$dark-blue;
    margin-bottom: vars.$spacing-sm;

    @include m.mobile {
      font-size: vars.$font-size-3xl;
    }
  }

  p {
    color: vars.$light-gray;
    font-family: vars.$font-paragraph;
    font-size: vars.$font-size-lg;

    @include m.mobile {
      font-size: vars.$font-size-base;
    }
  }
}

.faq-container {
  background-color: vars.$white;
  border-radius: vars.$border-radius-xl;
  box-shadow: vars.$shadow-lg;
  max-width: 800px;
  width: 100%;
  padding: vars.$spacing-xl vars.$spacing-2xl;
  
  @include m.mobile {
    padding: vars.$spacing-lg vars.$spacing-lg;
  }
}

.faq-tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: vars.$border-width solid rgba(vars.$black, 0.1); 
  margin-bottom: vars.$spacing-lg;
  
  @include m.mobile {
    justify-content: flex-start;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab-button {
    background: none;
    border: none;
    padding: vars.$spacing-sm vars.$spacing-base;
    padding-bottom: vars.$spacing-lg;
    margin-right: vars.$spacing-lg;
    cursor: pointer;
    font-family: vars.$font-paragraph;
    font-size: vars.$font-size-base;
    font-weight: vars.$font-weight-medium;
    color: vars.$light-gray;
    position: relative;
    transition: color vars.$transition-base vars.$transition-ease;
    flex-shrink: 0;
    white-space: nowrap;

    &:hover:not(.active) {
      color: vars.$dark-blue;
    }

    &.active {
      color: vars.$dark-blue;
      font-weight: vars.$font-weight-semibold;

      &::after {
        content: '';
        position: absolute;
        bottom: - (vars.$border-width); 
        left: 0;
        width: 100%;
        height: 2px;
        background-color: vars.$turquoise;
      }
    }
  }
}

.no-faqs {
  text-align: center;
  color: vars.$light-gray;
  font-family: vars.$font-paragraph;
  padding: vars.$spacing-lg;
}