@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as m;

.dettaglio-immobile {
  &__details-section {
    @include m.flex-column;
    gap: vars.$spacing-lg;
  }

  &__details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vars.$spacing-lg;
    @include m.tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include m.desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__detail-item {
    @include m.flex-center;
    justify-content: flex-start;
    gap: vars.$spacing-base;
    padding: vars.$spacing-base;
    background-color: vars.$light-blue;
    border-radius: vars.$border-radius-md;
    i {
      font-size: vars.$font-size-2xl;
      color: vars.$sky-blue;
    }
    div {
      @include m.flex-column;
      gap: vars.$spacing-xs;
    }
    strong {
      font-family: vars.$font-title;
      font-size: vars.$font-size-sm;
      font-weight: vars.$font-weight-semibold;
      color: vars.$blue;
    }
    span {
      font-family: vars.$font-paragraph;
      font-size: vars.$font-size-base;
      color: vars.$light-gray;
    }
  }
}