<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caratteristiche Immobile</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <h1>Caratteristiche immobile</h1>
            
    <div class="">
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Id_caratteristiche</th>
            <th>tipologia</th>
            <th>piano</th>
            <th>ascensore</th>
            <th>arredato</th>
            <th>disponibilita</th>
            <th>contratto</th>
            <th>piani_edificio</th>
            <th>anno_costruzione</th>
            <th>classe_energetica</th>
            <th>accesso_disabili</th>
            <th>camere</th>
            <th>bagni</th>
            <th>balcone</th>
            <th>riscaldamento</th>
            <th>terrazzo</th>
            <th>giardino</th>
            <th>box_auto</th>
            <th>cantina</th>
            <th>altre_caratteristiche</th>
        </tr>
        </thead>
        <tbody >
        <tr class="table-row" onclick="selectRow(this)" th:each="caratteristica_immobile : ${caratteristiche}">

            <td th:text="${caratteristica_immobile.Id_caratteristiche}"></td>
            <td th:text="${caratteristica_immobile.tipologia}"></td>
            <td th:text="${caratteristica_immobile.piano}"></td>
            <td th:text="${caratteristica_immobile.ascensore}"></td>
            <td th:text="${caratteristica_immobile.arredato}"></td>
            <td th:text="${caratteristica_immobile.disponibilita}"></td>
            <td th:text="${caratteristica_immobile.contratto}"></td>
            <td th:text="${caratteristica_immobile.piani_edificio}"></td>
            <td th:text="${caratteristica_immobile.anno_costruzione}"></td>
            <td th:text="${caratteristica_immobile.classe_energetica}"></td>
            <td th:text="${caratteristica_immobile.accesso_disabili}"></td>
            <td th:text="${caratteristica_immobile.camere}"></td>
            <td th:text="${caratteristica_immobile.bagni}"></td>
            <td th:text="${caratteristica_immobile.balcone}"></td>
            <td th:text="${caratteristica_immobile.riscaldamento}"></td>
            <td th:text="${caratteristica_immobile.terrazzo}"></td>
            <td th:text="${caratteristica_immobile.giardino}"></td>
            <td th:text="${caratteristica_immobile.box_auto}"></td>
            <td th:text="${caratteristica_immobile.cantina}"></td>
            <td th:text="${caratteristica_immobile.altre_caratteristiche}"></td>
            </tr>
        </tbody>
    </table>
    </div>

</body>
</html>



    