<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruoli</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <h1>Ruoli</h1>
            
    <div class="">
    <table style="width: 100%;">
        <thead>
        <tr>

            <th>Id_ruolo</th>
            <th>nome</th>
        </tr>
        </thead>
        <tbody >
        <tr class="table-row" onclick="selectRow(this)" th:each="ruolo : ${ruoli}">


            <td th:text="${ruolo.id_ruolo}"></td>
            <td th:text="${ruolo.nome}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>



    