<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Agente</title>
        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
     <form id="" method="post" th:action="@{/utenti/add}">
                
                    
                    <div class="form-group">
                        <label for="id_ruolo">Id_ruolo</label>
                        <input type="number" class="form-control" id="id_ruolo" name="id_ruolo" required>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="cognome">Cognome</label>
                        <input type="text" class="form-control" id="cognome" name="cognome" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="codice_fiscale">Codice fiscale</label>
                        <input type="text" class="form-control" id="codice_fiscale" name="codice_fiscale" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="passw">Password</label>
                        <input type="number" class="form-control" id="passw" name="passw" required>
                    </div>

                    <button type="submit" class="btn-primary">Aggiungi Utente</button>
                </form>
</body>
</html>