<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utenti</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <h1>Utenti</h1>
            
    <div class="">
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Id_utente</th>
            <th>Id_ruolo</th>
            <th>nome</th>
            <th>cognome</th>
            <th>telefono</th>
            <th>codice_fiscale</th>
            <th>email</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody >
        <tr class="table-row" onclick="selectRow(this)" th:each="utente : ${utenti}">

            <td th:text="${utente.id_utente}"></td>
            <td th:text="${utente.id_ruolo}"></td>
            <td th:text="${utente.nome}"></td>
            <td th:text="${utente.cognome}"></td>
            <td th:text="${utente.telefono}"></td>
            <td th:text="${utente.codice_fiscale}"></td>
            <td th:text="${utente.email}"></td>
            <td th:text="${utente.passw}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>



    