<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visite</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <h1>Visite</h1>
            
    <div class="">
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Id_visita</th>
            <th>Id_immobile</th>
            <th>Id_agente</th>
            <th>data</th>
        </tr>
        </thead>
        <tbody >
        <tr class="table-row" onclick="selectRow(this)" th:each="visita : ${visite}">

            <td th:text="${visita.id_visita}"></td>
            <td th:text="${visita.id_immobile}"></td>
            <td th:text="${visita.id_agente}"></td>
            <td th:text="${visita.data}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>

            <th>password</th>
            CREATE TABLE visita (
    Id_visita INT PRIMARY KEY AUTO_INCREMENT,
    Id_immobile INT NOT NULL,
    Id_agente INT NOT NULL,
    data DATETIME NOT NULL,
    CONSTRAINT fk_visita_immobile FOREIGN KEY (Id_immobile) REFERENCES immobile(Id_immobile),
    CONSTRAINT fk_visita_agente FOREIGN KEY (Id_agente) REFERENCES utente(Id_utente)
);
        </tr>
        </thead>
        <tbody >
        <tr class="table-row" onclick="selectRow(this)" th:each="utente : ${utenti}">

            <td th:text="${utente.id_utente}"></td>
            <td th:text="${utente.id_ruolo}"></td>
            <td th:text="${utente.nome}"></td>
            <td th:text="${utente.cognome}"></td>
            <td th:text="${utente.telefono}"></td>
            <td th:text="${utente.codice_fiscale}"></td>
            <td th:text="${utente.email}"></td>
            <td th:text="${utente.passw}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>



    