<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visite</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <h1>Visite</h1>
            
    <div class="">
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Id_visita</th>
            <th>Id_immobile</th>
            <th>Id_agente</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" onclick="selectRow(this)" th:each="visita : ${visite}">
            <td th:text="${visita.idVisita}"></td>
            <td th:text="${visita.idImmobile}"></td>
            <td th:text="${visita.idAgente}"></td>
            <td th:text="${visita.data}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>